In [1]:
from rdflib import Graph

In [2]:
g = Graph()
g.parse("output.ttl")

In [3]:
def exec_query(query):
    [print(result[0]) for result in g.query(query)]

In [4]:
# вивести загальну кількість триплетів;
exec_query('''
    SELECT (COUNT(?s) AS ?triples)
    WHERE {
        ?s ?p ?o.
    }
''')

76

In [5]:
# вивести назву одного ресурсу (dc:title);
exec_query('''
    SELECT ?title
    WHERE { 
        ?resource dc:title ?title 
    } 
    LIMIT 1
''')

Холодильник Samsung RB38T676FB1/UA

In [6]:
# вивести список всіх ресурсів одного складного класу;
exec_query('''
    SELECT $resource 
    WHERE { $resource a sch:Laptop }
''')

https://comfy.ua/ua/noutbuk-hp-250-g8-45s01es-silver.html

In [7]:
# вивести інформацію за однією із характеристик для всіх описаних ресурсів;
exec_query('''
    SELECT ?rating
    WHERE { ?resource sch:rating ?rating }
''')

4.9
4.9
4.7
4.7
4.8

In [8]:
# вивести назви всіх підкласів для базового класу;
exec_query('''
    SELECT ?subclass 
    WHERE { ?subclass rdfs:subClassOf sch:Product }
''')

https://comfy.ua/schema#Laptop
https://comfy.ua/schema#Refrigerator
https://comfy.ua/schema#Smartphone
https://comfy.ua/schema#TV
https://comfy.ua/schema#Washing_machine

In [9]:
# додати 2 довільних SPARQL-запита.

In [10]:
# вивести всі ресурси у яких нова ціна більше 20000
exec_query('''
    SELECT ?subject
    WHERE { 
        ?subject sch:price_new ?price_new.
        FILTER(?price_new > 20000)
    }
''')

https://comfy.ua/ua/holodil-nik-samsung-rb38t676fb1-ua.html
https://comfy.ua/ua/televizor-samsung-ue43bu8000uxua.html

In [33]:
# вивести всі dc:title ресурси по спаданню
exec_query('''
    SELECT ?title
    WHERE { ?resource dc:title ?title } 
    ORDER BY DESC(?title)
''')

Холодильник Samsung RB38T676FB1/UA
Телевізор Samsung UE43BU8000UXUA
Смартфон Samsung Galaxy M33 5G 6/128Gb Green (SM-M336BZGGSEK)
Пральна машина Whirlpool WRBSB 6228 B UA
Ноутбук HP 250 G8 (45S01ES) Silver